{{#partial "content"}}

    <h1>SQUAD</h1>

    <p>Create Your Squad: </p>

    <form action="/squad/new" method="POST">
        <label for="content">Input Squad Name</label>
        <input id="content" name="content" type="text">
        <label for="content">Input Squad Cause</label>
        <input id="content" name="content" type="text">

        <button type="submit" class="btn btn-default">Create Squad</button>
    </form>
{{/partial}}

{{> layout.hbs}}