{{#partial "content"}}

    <div class="row">

        <div class="col-md-12">

            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h1 class="heading display-3 color">HERO SQUAD</h1>

                <div id="myBtn">
                    <a href="/squads" class="btn btn-outline-secondary btn-rounded waves-effect color " role="button">View Squads</a>
                    <a href="/squad/new" class="btn btn-outline-secondary btn-rounded waves-effect color " role="button">Add Squad</a>
                </div>
            </div>

        </div>


    </div>
{{/partial}}

{{> layout.hbs}}