{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md6 offset-3">
                <h1 class="color" >Success!</h1>

                <p class="color" >Your action was successful ....</p>

                <a href="/" class="color">Go Back</a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}